<aside class="sidebar" id="sidebar">
    <div class="sidebar__inner">
        <header class="sidebar-header">
            <div class="hamburger">
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="{{"/img/sidebar/logo_mdl_header.png" | absURL}}" alt="MDL Logo"
                    class="logo__image">
                </a>
            </div>
            <div class="logo-mob-box">
                <img src="{{"/img/sidebar/logo-mob.svg" | absURL}}" alt="MDL Logo" class="logo-mob">
            </div>
            <div class="country">
                <select name="countrySelect" class="country__select">
                    {{ range $.Site.Home.AllTranslations }}
                    <option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
                    {{ end }}
                </select>
            </div>
        </header>

        <div class="sidebar__content">
            <div class="sidebar__title-box">
                <h1 class="sidebar__title">
                    <span class="sidebar__title_bold">MDL.</span>blog
                </h1>
                <p class="sidebar__sub-title">{{ .Site.Params.sidebar_sub_title }} <span
                        class="sidebar__sub-title_pink">{{ .Site.Params.sidebar_sub_title_pink }}</span>
                </p>
            </div>
            <div class="subscribe-form">
                <p class="subscribe-form__title">{{ .Site.Params.subscribe_title }}</p>
                <div id="sib_embed_signup">
                    <div class="forms-builder-wrapper">
                        <input type="hidden" id="sib_embed1_signup_lang" value="en">
                        <input type="hidden" id="sib_embed1_invalid_email_message"
                               value="That email address is not valid. Please try again.">
                        <input type="hidden" name="primary_type" id="primary_type" value="email">
                        <form class="description" id="theform" name="theform"
                              action="https://my.sendinblue.com/users/subscribeembed/js_id/346pc/id/1"
                              onsubmit="return false;">
                            <input type="hidden" name="js_id" id="js_id" value="346pc"><input type="hidden"
                                                                                              name="listid"
                                                                                              id="listid1"
                                                                                              value="2"><input
                                type="hidden" name="from_url" id="from_url1" value="yes"><input type="hidden"
                                                                                                name="hdn_email_txt"
                                                                                                id="hdn_email_txt1"
                                                                                                value="">
                            <div class="sib-container rounded">
                                <input type="hidden" name="req_hid" id="req_hid" value=""
                                       style="font-size: 13px;">
                                <div class="view-messages" style=" margin:5px 0;"></div>
                                <div class="primary-group email-group forms-builder-group ui-sortable" style="">
                                    <div class="row mandatory-email" style="position: relative">
                                        <input type="text" name="email" id="email1" value=""
                                               placeholder="E-mail">
                                        <button class="button editable " type="submit"
                                                data-editfield="subscribe">
                                            Subscribe
                                        </button>
                                        <div style="clear:both;"></div>
                                        <div class="hidden-btns">
                                            <a class="btn move" href="#"><i class="fa fa-arrows"></i></a><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="captcha forms-builder-group" style="display: none;">
                                    <div class="row"
                                         style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(103, 48, 145); font-size: 25px; padding: 10px 20px;">
                                        <div id="gcaptcha" style="transform: scale(1); margin-left: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    var sib_prefix = 'sib';
                    var sib_dateformat = 'mm-dd-yyyy';
                </script>
            </div>
        </div>

        <div class="sidebar-social">
            <ul class="sidebar-social__list">
                {{ range .Site.Params.social }}
                <li class="sidebar-social__icon"><a href="{{ .url }}" class="sidebar-social__link"><img
                        src="{{ .urlImage | absURL }}"
                        alt="{{ .url }}"
                        class="sidebar-social__image"></a>
                </li>
                {{ end }}
            </ul>
        </div>

    </div>
</aside>