<!--<div class="comments">-->
    <!--<h3 class="comments__title">Comments</h3>-->
    <!--<form action="#" class="comments__form comments__form_single">-->
        <!--<div class="comments__input">-->
            <!--<span class="comments__input-text">Write comment...</span>-->
            <!--<input class="comments__input-inner comments__input-inner_disabled" readonly type="text">-->
        <!--</div>-->
    <!--</form>-->
    <!--<div class="comments-cards">-->
        <!--<div class="comments-card">-->
            <!--<img src="../img/single/comment-photo.png" alt="" class="comments-card__image">-->
            <!--<h3 class="comments-card__title">Bohdan Pshenichnyi</h3>-->
            <!--<p class="comments-card__date">9 May 2018</p>-->
            <!--<p class="comments-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At-->
                <!--blanditiis culpa cumque dolores doloribus in ipsam iusto laborum magnam minima nesciunt-->
                <!--non omnis provident quod reprehenderit rerum, suscipit voluptatibus! Quaerat!-->
                <!--<br><br>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti ipsam nobis,-->
                <!--quam ratione reiciendis tenetur.-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="comments-cards">-->
        <!--<div class="comments-card">-->
            <!--<img src="../img/single/comment-photo.png" alt="" class="comments-card__image">-->
            <!--<h3 class="comments-card__title">Bohdan Pshenichnyi</h3>-->
            <!--<p class="comments-card__date">9 May 2018</p>-->
            <!--<p class="comments-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At-->
                <!--blanditiis culpa cumque dolores doloribus in ipsam iusto laborum magnam minima nesciunt-->
                <!--non omnis provident quod reprehenderit rerum, suscipit voluptatibus! Quaerat!-->
                <!--<br><br>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti ipsam nobis,-->
                <!--quam ratione reiciendis tenetur.-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="comments-cards">-->
        <!--<div class="comments-card">-->
            <!--<img src="../img/single/comment-photo.png" alt="" class="comments-card__image">-->
            <!--<h3 class="comments-card__title">Bohdan Pshenichnyi</h3>-->
            <!--<p class="comments-card__date">9 May 2018</p>-->
            <!--<p class="comments-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At-->
                <!--blanditiis culpa cumque dolores doloribus in ipsam iusto laborum magnam minima nesciunt-->
                <!--non omnis provident quod reprehenderit rerum, suscipit voluptatibus! Quaerat!-->
                <!--<br><br>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti ipsam nobis,-->
                <!--quam ratione reiciendis tenetur.-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->