<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <h3 class="footer__title"><span class="footer__title_bold">Follow</span> us</h3>
            <img src="/img/sidebar/bubble.png" alt="" class="footer__bubble">
        </div>
        <div class="footer__bottom">
            <div class="subscribe-form subscribe-form_footer">
                <p class="subscribe-form__title">{{ .Site.Params.subscribe_title_footer }}</p>
                <div id="sib_embed_signup">
                    <div class="forms-builder-wrapper">
                        <input type="hidden" id="sib_embed1_signup_lang" value="en">
                        <input type="hidden" id="sib_embed1_invalid_email_message"
                               value="That email address is not valid. Please try again.">
                        <input type="hidden" name="primary_type" id="primary_type" value="email">
                        <form class="description" id="theform" name="theform"
                              action="https://my.sendinblue.com/users/subscribeembed/js_id/346pc/id/1"
                              onsubmit="return false;">
                            <input type="hidden" name="js_id" id="js_id" value="346pc"><input type="hidden"
                                                                                              name="listid"
                                                                                              id="listid1"
                                                                                              value="2"><input
                                type="hidden" name="from_url" id="from_url1" value="yes"><input type="hidden"
                                                                                                name="hdn_email_txt"
                                                                                                id="hdn_email_txt1"
                                                                                                value="">
                            <div class="sib-container rounded">
                                <input type="hidden" name="req_hid" id="req_hid" value=""
                                       style="font-size: 13px;">
                                <div class="view-messages" style=" margin:5px 0;"></div>
                                <div class="primary-group email-group forms-builder-group ui-sortable" style="">
                                    <div class="row mandatory-email" style="position: relative">
                                        <input type="text" name="email" id="email1" value=""
                                               placeholder="E-mail">
                                        <button class="button editable " type="submit"
                                                data-editfield="subscribe">
                                            Subscribe
                                        </button>
                                        <div style="clear:both;"></div>
                                        <div class="hidden-btns">
                                            <a class="btn move" href="#"><i class="fa fa-arrows"></i></a><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="captcha forms-builder-group" style="display: none;">
                                    <div class="row"
                                         style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(103, 48, 145); font-size: 25px; padding: 10px 20px;">
                                        <div id="gcaptcha" style="transform: scale(1); margin-left: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    var sib_prefix = 'sib';
                    var sib_dateformat = 'mm-dd-yyyy';
                </script>
            </div>
            <div class="sidebar-social sidebar-social_footer">
                <ul class="sidebar-social__list">
                    {{ range .Site.Params.social }}
                    {{ .url }}
                    <li class="sidebar-social__icon sidebar-social__icon_footer"><a href="{{ .url }}" class="sidebar-social__link"><img
                            src= "{{ .urlImage | absURL }}"
                            alt="{{ .url }}"
                            class="sidebar-social__image"></a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>