<div class="related-content">
    <div class="related-content__inner">
        <div class="common-posts">
            <ul class="common-posts__list">
                {{ $related := .Site.RegularPages.Related . | first 3 }}
                {{ with $related }}
                        {{ range . }}
                        {{ range .Params.categories }}<li class="common-posts__item" data-cat="{{ lower . }}">{{ end }}
                            <div class="common-posts__figure"><a href="{{ .RelPermalink }}" class="common-posts__link"><img
                                    src="{{ .Params.image | absURL }}" alt="{{ .Title }}"
                                    class="common-posts__image"></a></div>
                            {{ range .Params.categories }}<p class="common-posts__tag">{{ . }}</p>{{ end }}
                            <h3 class="common-posts__title"><a class="common-posts__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h3>
                        </li>
                        {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ partial "single/comments.html" . }}
    </div>
</div>