<header class="single-header">
    <div class="single-header__inner">
        <div class="single-header__logo">
            <img src=" {{ "/img/single/single-logo.svg" | absURL }} " alt="MDl logo" class="single-header__image">
        </div>
        <div class="single-header__menu">
            <ul class="single-header__list">
                <li class="single-header__item" data-cat="">{{ .Site.Params.allTopicsTranslate }}</li>
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
                    <li class="single-header__item" data-cat="{{ lower $taxonomyname }}">{{ $taxonomyname }}</li>
                {{ end }}
            </ul>
        </div>
        <span class="single-header__subscribe">{{ .Site.Params.subscribeButton }}</span>
    </div>
</header>