<div id="content" class="content" data-state="1">
    <div class="content__inner content__inner_first-state">
        <header class="content-header">
            <ul class="content-header__list">
                <li class="content-header__item" data-cat = "" >{{ .Site.Params.allTopicsTranslate }}</li>
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
                    <li class="content-header__item" data-cat="{{ lower $taxonomyname }}">{{ $taxonomyname }}</li>
                {{ end }}
            </ul>
        </header>

        <div class="articles">
            {{range .Data.Pages.ByDate.Reverse }}
                {{ partial "main/content/main.html" . }}
            {{ end }}
        </div>
    </div>
</div>