<div id="content" class="content" data-state="1">
    <div class="content__inner content__inner_first-state">
        <header class="content-header">
            <ul class="content-header__list">
                <li class="content-header__item" data-cat = "" >{{ .Site.Params.allTopicsTranslate }}</li>
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
                    <li class="content-header__item" data-cat="{{ lower $taxonomyname }}">{{ $taxonomyname }}</li>
                {{ end }}
            </ul>
        </header>

        <div class="articles">
            {{ range .Data.Pages }}
                {{ range .Params.categories }}
                    <article class="article" data-cat="{{ lower . }}">
                {{ end }}
                <a class="article__link-inner" href="{{ .Permalink }}">
                    <div class="article__header">
                        <h3 class="article__title">{{.Title}}</h3>
                        <p class="article__date">{{ .Date.Format "2 January"}}</p>
                    </div>
                    {{if .Params.image}}
                    <div class="article__image"><img
                            src=" {{ .Params.image | absURL }} " alt="{{.Title}}"
                            class="article__image-inner"></div>
                    {{ end }}
                    <div class="article__content">
                        <p class="article__text">{{slicestr .Summary 0 100}}...</p>
                        <div class="article__divider"></div>
                        {{ range .Params.categories }}<p class="article__tag">{{ . }}</p>{{ end }}
                    </div>
                </a>
            </article>
            {{ end }}
        </div>
    </div>
</div>