{{ partial "header.html" . }}

<div class="demo-layout mdl-layout mdl-js-layout">
  <main class="demo-main mdl-layout__content mdl-blog-list">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">

        <div class="mdl-picture__posts-wrapper">
          <div class="mdl-picture__posts">
            {{range .Pages}}
                {{ partial "top-post.html" . }}
            {{ end }}
          </div>
        </div>

        <div class="mdl-text__posts-wrapper">
          <div class="mdl-text__posts">
            {{range .Pages}}
              {{ partial "bot-post.html" . }}
            {{ end }}
          </div>
        </div>

      </div>
    </div>
  </main>
</div>


{{ partial "footer.html" . }}
