<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ with .Site.Params.keywords }}
    <meta name="keywords" content="{{ . }}">
    {{ end }}

    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}

    <title>{{ .Site.Title }}</title>
    <!-- Main Styles -->
    <link rel="stylesheet" href="{{ "css/main.css" | absURL }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
</head>
<body>

<!--Single register modal-->
<div class="single-modal">
    <div class="single-modal-window">
        <div class="single-modal-window__close"></div>
        <div class="single-modal-window__title-box"><h2 class="single-modal-window__title">Sign up to write a
            comment</h2></div>
        <div class="single-modal-window__divider"></div>
        <ul class="single-modal-window__list">
            <li class="single-modal-window__item">
                <a class="single-modal-window__link" href='#'><img class="single-modal-window__social-image"
                                                                   src=" {{ "/img/modal/modal-facebook.svg" | absURL }} " alt="">
                    Sign up with Facebook</a>
            </li>
            <li class="single-modal-window__item">
                <a class="single-modal-window__link" href='#'><img class="single-modal-window__social-image"
                                                                   src=" {{ "/img/modal/modal-google.svg" | absURL }} " alt="">
                    Sign up with Google</a>
            </li>
        </ul>
    </div>
</div>

<!-- Menu mobile -->
<div class="menu-mob">
    <div class="menu-mob__inner">
    </div>
    <ul class="menu-mob__list">
        <li class="menu-mob__item" data-cat="">{{ .Site.Params.allTopicsTranslate }}</li>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
            <li class="menu-mob__item" data-cat="{{ lower $taxonomyname }}">{{ $taxonomyname }}</li>
        {{ end }}
    </ul>
</div>